
.App{
  text-align: center;
}

input{
  border: 3px solid #9579fa;
  border-radius: 4px;
  width: 20%;
  margin: 8px 0;
  padding: 6px 10px;
}

button{
  padding: 6px 10px;
  width:10%;
  text-decoration: none;

}
.list button{
  
  border-radius: 6px;
  padding:6px;
  background-color: rgb(255, 16, 96);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin:4px 2px; 
  width:30px;
  height: 30px;
  font-size: 16px;
  color:black;
}